.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    list-style: none;
    display: flex;    
}

li{
    margin: 30px;
}

.logo{
    margin-top: 10px;
    margin-left: 50px;
}

